<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ftfl.icareprofile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ICareProfileActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ICareCreateProfileActivity"
            android:label="@string/title_activity_icare_create_profile" >
        </activity>
        <activity
            android:name=".ICareProfileListActivity"
            android:label="@string/title_activity_icare_profile_list" >
        </activity>
        <activity
            android:name=".ICareProfilePreviewActivity"
            android:label="@string/title_activity_icare_profile_preview" >
        </activity>
    </application>

</manifest>
